{% extends 'base.html' %}
{% block title %}
Administration
{% endblock %}

{% block body %}
<body id="admin_page">

{% include '/includes/navbar.html' %}
{% include '/includes/flash_messages.html' %}

{% block content %}
<div class="container">
    <div class="row gx-5" style="margin-top: 100px">
        <div class="col-5 bg-secondary py-3 mx-5 rounded-3">
            <h4>Adding new artist</h4>
            {% if current_user.is_admin %}
                 {% include 'includes/album_form.html' %}
            {% endif %}
        </div>
        <div class="col-4 bg-secondary py-3 rounded-3">
            <form id="genre_form" method="POST">
                <div class="form-group my-2">
                    {{ add_genre_form.genre.label(class="form-label fs-5") }}
                    {{ add_genre_form.genre(class="form-control border-secondary") }}
                </div>
                <div class="form-group my-2">
                    {{ add_genre_form.add_btn(class="btn btn-dark w-100", id="add_genre") }}
                </div>
            </form>
            <form id="delete-genre" method="POST">
                <div class="from-group my-2">
                    {{ delete_genre_form.genre.label(class="form-label fs-5") }}
                    {{ delete_genre_form.genre(class="form-control border-secondary") }}
                </div>
                <div class="form-group my-2">
                    {{ delete_genre_form.delete_btn(class="btn btn-danger w-100", id="delete-genre") }}
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
{% include '/includes/script_links.html' %}
</body>

{% endblock %}


