<!doctype html>
<html lang="en">
<head>
    {% include './includes/style.html' %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
{% block body %}
<body>
<header>
    <!-- Navbar here -->
    {% include '/includes/navbar.html' %}
    <!--  Flash messages      -->
    {% include '/includes/flash_messages.html' %}
</header>
<main>
    <div class="container">
        <!-- Future Content here -->
        {% block content %}
        {% endblock %}
    </div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include '/includes/footer.html' %}
{% include '/includes/script_links.html' %}
</body>
{% endblock %}
</html>