{% extends 'base.html'%}
{% import 'includes/_macros.html' as macros %}

{% block title%}
Music Albums
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col mt-5">
            <h2 class="my-3">Music Box </h2>
             {% include '/includes/album_table.html' %}
              {% if content %}
            <div class="pagination mb-2">
                {{ macros.pagination_widget(content, 'home_page') }}
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
