{% extends 'base.html' %}

{% block title %}
Dude's Login
{% endblock %}

{% block body %}
<body id="login">
    {% include '/includes/flash_messages.html' %}
    <div class="container w-50 ">
        {% block content %}
        <main class="bg-dark mt-5 px-3 py-3">
            <h1 align="center" class="pt-2">Dudes Login</h1>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="text-light txt-20 my-2") }}
                    {{ form.username(class="form-control", placeholder="Dude enter your name..") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="text-light txt-20 my-2") }}
                    {{ form.password(class="form-control", type="password", placeholder="Dude enter your password..") }}
                </div>
                <br>
                <div class="text-center">
                    {{ form.submit(class="btn btn-primary w-25 txt-20") }}
                </div>

            </form>
        </main>

        {% endblock %}
    </div>

   {% include '/includes/script_links.html' %}
</body>
{% endblock %}

