{% extends 'base.html' %}
{% import 'includes/_macros.html' as macros %}

{% block title %}
        Albums Released in {{ year  }}
{% endblock %}
{% block body %}
<body id="release_page">
    <header>
        {% include '/includes/navbar.html' %}
    </header>
    <main>
        <div class="container">
            {% block content %}
                <div class="row" >
                    <div class="col-8 mt-5">
                        <h2 class="my-4"> Albums Released in {{ year }} :</h2>
                        <div>
                            {% include '/includes/releases_table.html' %}
                             {% if release_content %}
                            <div class="pagination mb-2">
                                {{ macros.pagination_widget(release_content, 'main.release_page', year=year) }}
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endblock %}
        </div>
    </main>
    {% include '/includes/footer.html' %}
    {% include '/includes/script_links.html' %}
</body>
{% endblock %}

