{% extends 'base.html'%}
{% import 'includes/_macros.html' as macros %}

{% block title%}
Search Results
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col mt-5">
            <h2 class="my-3">Search Results by "{{ searched }}" ...</h2>
                {% if content %}
                    {% include '/includes/search_result.html' %}
                {% else %}
                    <p class="text-white">No results</p>
                {% endif %}
            <!--Pagination-->
                {% if content %}
                    <div class="pagination mb-2">
                        {{ macros.pagination_widget(content, 'main.search') }}
                    </div>
                {% endif %}
        </div>
    </div>
</div>


{% endblock %}
