{% extends 'base.html'%}
{% import 'includes/_macros.html' as macros %}

{% block title%}
Search Results
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col mt-5">
            <h2 class="my-3">Search Results...</h2>
            {{ searched }}
            {% for album in albums %}
            <p class="text-white">{{ album.album_title }}</p>
            {% endfor %}
<!--                {% if content %}-->
<!--                <div class="pagination mb-2">-->
<!--                    {{ macros.pagination_widget(content, 'main.home_page') }}-->
<!--                </div>-->
<!--                {% endif %}-->
        </div>
    </div>
</div>


{% endblock %}
