body {
    background-image: url('../img/img-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#artist_page {
    background-image: url('../img/page-artist.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#release_page {
    background-image: url('../img/release.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#login {
    background-image: url('../img/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#admin_page {
    background-image: url('../img/admin_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

h1,h2 {
    color: white;
}

.txt-20 {
    font-size: 20px;
}

ul.pagination a {
    text-decoration: none;
}

.table-wrapper {
  max-height: 68vh;
  overflow: auto;
  display:inline-block;
}