body {
    background-image: url('./img-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#artist_page {
    background-image: url('./page-artist.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#release_page {
    background-image: url('./release.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#admin_page {
    background-image: url('./admin_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}
#admin_page {
    margin-top: 50px;
    margin-left: 30px
}
#select-genre{
    width: 100px;
}
#admin_page nav {
    background-color: black;
}
#admin_page .container {
    margin-top: 100px;
    padding: 10px
}
#admin_page  select{
 width: 50%;
}
#select-genre {
    margin: auto;
    width: 100%;
    text-align: center;
}
h1,h2 {
    color: white;
}

.txt-20 {
    font-size: 20px;
}
