body {
    background-image: url('./img-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#artist_page {
    background-image: url('./page-artist.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body#release_page {
    background-image: url('./release.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

h2 {
    color: white;
}
