{% extends 'base.html' %}
{% block title %}
Administration
{% endblock %}

{% block body %}
<body id="admin_page">

{% include '/includes/navbar.html' %}
{% include '/includes/flash_messages.html' %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-5 bg-dark py-3">
             <form method="POST">
                 <h4 class="text-light my-2">Adding new artist</h4>
            <div class="my-2">
                <label for="artist-title" class="form-label text-light">Enter Artist Title</label>
                <input type="text" id="artist-title" class="form-control" name="artist_title">
            </div>
            <div class="my-2">
                <label for="album-title" class="form-label text-light">Enter Album Title</label>
                <input type="text" id="album-title" class="form-control" name="album_title">
            </div>
             <div class="my-2">
                <label for="album-title" class="form-label text-light">Enter Album Link</label>
                <input type="text" id="album-link" class="form-control" name="album_link">
            </div>
            <div class="my-2">
                <label for="genre" class="form-label text-light">Select Music Genre</label>
                <select name="genre_select" class="form-control">
                    {% for item in genres %}
                    <option value="{{item.id}}">{{item.genre}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
        </div>

    </div>
</div>
{% endblock %}
{% include '/includes/script_links.html' %}
</body>

{% endblock %}


