<!doctype html>
<html lang="en">
<head>
    {% include './includes/style.html' %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
{% block body %}
<body class="container">
<!-- Navbar here -->
{% include '/includes/navbar.html' %}
<!--  Flash messages      -->
{% include '/includes/flash_messages.html' %}
<!-- Future Content here -->
{% block content %}
{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include '/includes/script_links.html' %}
</body>
{% endblock %}
</html>