{% extends 'base.html' %}
{% block title %}
        Albums Released in {{ release_content[0].release_date }}
{% endblock %}
{% block body %}
<body id="release_page">
    <header>
        {% include '/includes/navbar.html' %}
    </header>
    <main>
        <div class="container">
            {% block content %}
                <div class="row" >
                    <div class="col-8 mt-5">
                        <h2 class="my-4"> Albums Released in {{ release_content[0].released_date }} Albums:</h2>
                        <br>
                        <div>
                            {% include '/includes/releases_table.html' %}
                        </div>

                    </div>
                </div>
            {% endblock %}
        </div>
    </main>
    {% include '/includes/footer.html' %}
    {% include '/includes/script_links.html' %}
</body>
{% endblock %}

