<table class="table table-hover table-bordered table-striped-columns table-dark">
    <thead>
    <tr>
        <th scope="col">Artist</th>
        <th scope="col">Album Title</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
        {% if current_user.is_admin %}
        <th class="text-center" scope="col">Action</th>
        {% endif %}

    </tr>
    </thead>
    <tbody>
    {% for item in content.items %}
    <tr>
        <td><a href="{{ url_for('main.artist_page', id=item.id) }}">{{item.artist_name}}</a></td>
        {% if item.Link.link %}
        <td><a href="{{ item.Link.link }}" target="_blank">{{item.album_title}}</a></td>
        {% else %}
        <td>{{item.album_title}}</td>
        {% endif %}
        <td><a href="{{ url_for('main.release_page', year=item.released_date) }}">{{item.released_date}}</a></td>
        {% if item.genre %}
        <td><a href="{{ url_for('main.genre_page',type=item.genre) }}">{{item.genre}}</a></td>
        {% else %}
        <td>Not specified</td>
        {% endif %}
        {% if current_user.is_admin %}
        <td class="text-center">
            <a class="btn btn-info mx-1" href="{{ url_for('admin.edit', album_id=item.Album.id)}}">Edit</a>
            <a class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#delete{{item.Album.id}}">Delete</a>
        </td>
        <!-- Modal       -->
        <div class="modal" id="delete{{item.Album.id}}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Album</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete '{{item.album_title}}' album?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="{{ url_for('admin.delete_album', id=item.Album.id)}}" method="POST">
                            <input type="submit" class="btn btn-danger" onclick="deleteAlbum({{item.Album.id}})" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>

</table>


