<table class="table table-hover table-bordered table-striped-columns table-dark">
    <thead>
    <tr>
        <th scope="col">Artist</th>
        <th scope="col">Album Title</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
        {% if current_user.is_admin %}
        <th class="text-center" scope="col">Action</th>
        {% endif %}

    </tr>
    </thead>
    <tbody>
    {% for item in content.items %}
    <tr>
        <td><a href="{{ url_for('main.artist_page', id=item.id) }}">{{item.artist_name}}</a></td>
        {% if item.Link.link %}
        <td><a href="{{ item.Link.link }}" target="_blank">{{item.album_title}}</a></td>
        {% else %}
        <td>{{item.album_title}}</td>
        {% endif %}
        <td><a href="{{ url_for('main.release_page', year=item.released_date) }}">{{item.released_date}}</a></td>
        <td><a href="{{ url_for('main.genre_page',type=item.genre) }}">{{item.genre}}</a></td>
        {% if current_user.is_admin %}
        <td class="text-center">
            <a class="btn btn-info mx-1" href="{{ url_for('admin.edit', album_id=item.Album.id)}}">Edit</a>
            <a class="btn btn-danger mx-1" onclick="deleteAlbum({{item.Album.id}})"
               href="{{ url_for('admin.delete_album', id=item.Album.id)}}">Delete</a>
        </td>

        {% endif %}
    </tr>
    {% endfor %}
    </tbody>

</table>


