<table class="table table-bordered table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Artist</th>
        <th scope="col">Album Title</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    {% for  item in release_content %}
    <tr>
        <td>{{item.artist_name}}</td>
        <td>{{item.album_title}}</td>
        {% if item.genre %}
        <td>{{item.genre}}</td>
        {% else %}
        <td>Not Specified</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

