<form action="" method="POST" class="bg-secondary my-5 rounded-3">
    {{ form.hidden_tag() }}
    <div class="form-group my-2">
        {{ form.artist_name.label(class="form-label fs-5") }}
        {{ form.artist_name(class="form-control border-secondary") }}
    </div>
    <div class="form-group my-2">
        {{ form.album_title.label(class="form-label fs-5") }}
        {{ form.album_title(class="form-control border-secondary") }}
    </div>
    <div class="form-group my-2">
        {{ form.released_year.label(class="form-label fs-5") }}
        {{ form.released_year(class="form-control border-secondary") }}
    </div>
     <div class="form-group my-2">
        {{ form.album_link.label(class="form-label fs-5") }}
        {{ form.album_link(class="form-control border-secondary") }}
    </div>
    <div class="form-group my-2">
        {{ form.genre.label(class="form-label fs-5") }}
        {{ form.genre(class="form-control border-secondary") }}
    </div>
    <div class="from-group my-3">
        {{ form.submit(class="btn btn-primary w-100", id="save_album") }}
    </div>
</form>