<table class="table table-bordered table-hover  table-dark">
    <thead>
    <tr>
        <th scope="col">Artist</th>
        <th scope="col">Album Title</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    {% for  item in artist_content %}
    <tr>
        {% if loop.index0 ==0 %}
        <td>{{item.artist_name}}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{item.album_title}}</td>
        <td>{{item.released_date}}</td>
        <td>{{item.genre}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

